{
    "dev": {
        "plugins": {
            "biohub.abacus": 10000,
            "biohub.biocircuit": 10001,
            "biohub.biomap": 10002
        },
        "proxy_domain": "localhost:8000"
    },
    "prod": {
        "domain": "biohub.technology"
    }
}
