.forum-start {
  padding: 50px 15px 50px 15px;
  background: darken($color-blue-1, 2%);
  margin-bottom: 50px;
}

.forum-description p {
  padding-top: 0.1rem;
  width: 40%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  margin-bottom: 0.2rem;
}

.forum-description h1 {
  margin-top: 0;
  padding-top: 0.1rem;
  font-size: 1rem;
}

.list-group-header {
  background-color: #f2f2f2;
  border: 1px solid $list-group-border;
  list-style: none;
  text-align: left;
  padding: 0.06rem 0.1rem;
  line-height: 0.15rem;
  font-weight: 500;
}

.list-group-header {
  background-color: #f2f2f2;
  border: 1px solid $list-group-border;
  list-style: none;
  text-align: left;
  padding: 0.06rem 0.1rem;
  line-height: 0.15rem;
  font-weight: 500;
}

.list-group-header + .list-group-item {
  border-top: 0;
}

.list-group-item-text {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}

.repo_home {
  @extend %list-biohub;
}

.left-list {
  @extend %list-biohub;
}

.panel-biohub {
  margin-top: 0.5rem;
}

.repo-wrapper {
  background-color: $navbar-color;
  border-top: 1px solid lighten($navbar-color, 5%);
  text-align: left;
  color: $text-color;
  padding-bottom: 0.2rem;
}
.view-experience {
  font-size: 0.12rem !important;
  color: $color-orange !important;
  &:hover {
    text-decoration: none;
  }
}
.info-collapse {
  padding: 0.15rem 0.2rem;
  margin-top: 0.1rem;
  background-color: darken($navbar-color, 5%);
  max-width: 500px;
}

.repo-info-addon {
  a {
    text-decoration: none;
    display: inline-block;
    color: $color-blue-2;
    font-size: 0.16rem;
    cursor: pointer;
    padding: 5px 0 4px;
    margin-left: 5px;
    margin-right: 5px;
  }
  span {
    background-color: darken($navbar-color, 5%);
    color: white;
    padding: 0 4px;
    border-radius: 2px;
    margin-left: -3px;
  }
  color: #ccc;
  font-size: 0.16rem;
}

.repo-info-name {
  margin-top: 0.1rem;
  font-size: 0.4rem;
}
.repo-info-content {
  background-color: white;
  padding: 0.1rem 0.3rem;
  text-align: left;
  h3 {
  }
  p {
    text-indent: 0.2rem;
  }
  img {
    max-width: 100%;
  }
}

.repo-experience-content {
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 3px $border-color;
  padding: 0.1rem 0.3rem;
  text-align: left;
  form > input.form-control {
    border-color: $border-color;
  }
}
.experience-list-header {
  margin-top: 5px;
  margin-bottom: 12px;
}
.experience-author-name {
  color: $text-color-rev;
  font-weight: 500;
  font-size: 16px;
}

.list-experience {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border: none;
    &:hover {
      background-color: white;
    }
    .list-group-item-heading {
      cursor: pointer;
    }
  }
  .list-group-item + .list-group-item {
    border-top: 1px solid $border-color;
  }
  h4 a {
    color: $color-blue-2;
  }
}

.editormd, .CodeMirror, .CodeMirror-gutters, .CodeMirror-scroll {
  min-height: 300px;
}

.OfficialResult {
  background-color: white;
  margin: 0.1rem;
  border: 1px solid $border-color;
  border-radius: 0.05rem;
  padding: 0.2rem 0;
}

.OfficialResultHead {
  font-size: 0.2rem;
}

.OfficialResultInfo {
  font-size: 0.2rem;
  .col-md-3 {
    margin: auto;
  }
  .col-md-3 + .col-md-3 {
    border-left: 1px solid $border-color;
  }
}

.OfficialFooter {
  text-align: left;
  padding: 0 0.4rem;
  font-size: 0.2rem;
  button:first-child {
    margin-left: 0.2rem;
  }
}

.UploadFile {
  @extend .OfficialResult;
}

.UploadFileNotice {
  @extend .OfficialResultHead;
}

%list-biohub {
  .list-group-item {
    text-align: left;
    padding: 0.08rem 0.1rem;
  }
  .list-group-item a {
    color: darken($color-blue-2, 0%);
  }
}

.postForm {
  .textarea {
    margin-top: 0.1rem;
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid darken($border-color, 5%);
    min-height: 0.4rem;
    border-radius: 0.05rem;
    padding: 0.02rem 0.03rem;
    @include transition(border-color);
    &:focus {
      outline: none;
      border-color: $color-blue-2;
    }
  }
  button {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.postContainer {
  padding-top: 0.1rem;
  padding-left: 0.1rem;
}

.post {
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid $border-color;
}
.action-bar {
  margin-bottom: 10px;
  a {
    color: $text-color-rev;
    cursor: pointer;
    text-decoration: none;
  }
}