.biohub-form {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;

  .form-control {
    font-size: 16px;
    height: 42px;
    margin-left: -2px;
    @extend %input-biohub;
    border-left-color: transparent;
    @include transition(border-color);
  }

  .form-control, .input-group > .input-group-addon {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: $input-color;
    border-color: transparent;
  }
  .input-group > .input-group-addon {
    border-right: 0;
  }

  .form-error {
    font-size: 16px;
  }
}
.btn-biohub {
  background-color: $color-orange;
  font-size: 17px;
  padding: 12px 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}

.btn-biohub-forum-welcome-default {
  color: $color-blue-1 !important;
  background-color: white !important;
  padding: 1rem 2rem;
  border-radius: 4rem;
  border: none;
  margin-right: 2rem;
  margin-left: 2rem;
  outline: none !important;
  @extend %no-box-shadow;
}

.btn-biohub-forum-welcome-notice {
  color: white !important;
  background-color: $color-blue-2 !important;
  padding: 1rem 2rem;
  border-radius: 4rem;
  border: none;
  margin-right: 2rem;
  margin-left: 2rem;
  outline: none !important;
  @extend %no-box-shadow;
}

.btn-biohub-light {
  background-color: darken($color-light, 2%);
  &:hover, &:focus, &:active {
    background-color: darken($color-light, 5%);
    @extend %no-box-shadow;
    color: $text-color-rev;
  }
}

.btn-biohub-orange {
  color: $color-light !important;
  &:hover, &:focus, &:active {
    background-color: darken($color-orange, 3%);
    color: $color-blue-1;
    @extend %no-box-shadow;
  }
}

.btn-forum {
  background-color: $color-blue-2;
  color: $text-color;
  margin-left: 0;
  &:active {
    @extend %no-box-shadow;
  }
  &:hover {
    color: $text-color;
  }
}
.experience-search {
  display: inline-block;
  height: 3.3rem;
  border: 1px solid #ccc;
  border-radius: 30px;
}