.forum-start {
  padding: 50px 15px 50px 15px;
  background: darken($color-blue-1, 2%);
  margin-bottom: 50px;
  text-align: center;
}

.forum-description p {
  padding-top: 0.1rem;
  width: 40%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  margin-bottom: 0.2rem;
}

.forum-description h1 {
  margin-top: 0;
  padding-top: 0.1rem;
  font-size: 1rem;
}

.list-group-header {
  @extend .disabled;
  box-shadow: 0 0 3px $border-color;
  cursor: default !important;
  border: none;
  border-bottom: 1px solid $border-color;
}

.list-group-header + .list-group-item {
  border-top: 0;
}

.list-group-item-text {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  margin-top: 10px;
}

.repo_home {
  @extend %list-biohub;
}

.left-list {
  @extend %list-biohub;
}

.panel-biohub {
  margin-top: 0.5rem;
}

.repo-wrapper {
  background-color: $navbar-color;
  border-top: 1px solid lighten($navbar-color, 5%);
  color: $text-color;
  padding-bottom: 0.2rem;
}
.view-experience {
  font-size: 0.12rem !important;
  color: $color-orange !important;
  &:hover {
    text-decoration: none;
  }
}
.info-collapse {
  padding: 0.15rem 0.2rem;
  margin-top: 0.1rem;
  background-color: darken($navbar-color, 5%);
  max-width: 500px;
}

.repo-info-addon {
  a {
    text-decoration: none;
    display: inline-block;
    color: $color-blue-3;
    font-weight: 500;
    font-size: 0.16rem;
    cursor: pointer;
    padding: 5px 0 4px;
    margin-left: 5px;
    margin-right: 5px;
  }
  a:first-child {
    margin-left: 0;
  }
  .number {
    background-color: darken($navbar-color, 5%);
    color: white;
    padding: 0 4px;
    border-radius: 2px;
    margin-left: -3px;
  }
  color: #ccc;
  font-size: 0.16rem;
}

.repo-info-name {
  margin-top: 0.1rem;
  font-size: 0.4rem;
}
.repo-info-content {
  background-color: white;
  padding: 0.1rem 0.3rem;
  h3 {
  }
  p {
    text-indent: 0.2rem;
  }
  img {
    max-width: 100%;
  }
}

#document-div {
  * {
    max-width: 100%;
  }
  img {
    display: block;
    margin: 1em auto;
    max-width: 80%;
  }
}

.repo-experience-content {
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 3px $border-color;
  padding: 0.1rem 0.3rem;
  form > input.form-control {
    border-color: $border-color;
  }
}
.experience-list {
  margin-top: 40px;
}
.experience-list-header {
  border-bottom: 1px solid $border-color;
  padding: 15px 20px;
  background-color: white;
}
.experience-author-name {
  color: $text-color-rev;
  font-weight: 500;
  font-size: 16px;
}

.list-experience {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border: none;
    &:hover {
      background-color: white;
    }
    .list-group-item-heading {
      cursor: pointer;
    }
  }
  .list-group-item + .list-group-item {
    border-top: 1px solid $border-color;
  }
  h4 a {
    color: $color-blue-2;
  }
}

.editormd, .CodeMirror, .CodeMirror-gutters, .CodeMirror-scroll {
  min-height: 100px;
}

.OfficialResult {
  background-color: white;
  margin-top: 10px;
  border: 1px solid $border-color;
  border-radius: 0.05rem;
  padding: 0.2rem 0;
}

.OfficialResultHead {
  font-size: 0.2rem;
}

.OfficialResultInfo {
  font-size: 0.2rem;
  .col-md-3 {
    margin: auto;
  }
  .col-md-3 + .col-md-3 {
    border-left: 1px solid $border-color;
  }
}

.OfficialFooter {
  padding: 0 0.4rem;
  font-size: 0.2rem;
  button:first-child {
    margin-left: 0.2rem;
  }
}

.UploadFile {
  @extend .OfficialResult;
}

.UploadFileNotice {
  @extend .OfficialResultHead;
}

%list-biohub {
  .list-group-item {
    padding: 0.08rem 0.1rem;
  }
  .list-group-item a {
    color: darken($color-blue-2, 0%);
  }
}

.postForm {
  .textarea {
    display: inline-block;
    font-size: 20px;
    width: 85%;
    resize: none;
    line-height: 27px;
    border-style: none;
    border-radius: 5px;
    height: 33px;
    padding-left: 5px;
    background-color: lighten($border-color, 10%);
    vertical-align: middle;
    @include transition(border-color);
    @include transition(background-color);
    &:focus {
      outline: none;
      border-color: $color-blue-2;
      background-color: white;
      line-height: 25px;
      border-style: solid;
      border-width: 1px;
    }
  }
  button {
    display: inline-block;
    vertical-align: bottom;
  }
  border-top: 1px solid $border-color;
  padding-top: 10px;
}

.postContainer {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0.1rem 0.1rem;
}
.postHeader {
  padding-bottom: 5px;
}
.post {
  padding: 10px 10px;
  border-top: 1px solid $border-color;
}

.commentUserInfo {
  font-weight: 600;
  color: $text-color-rev;
}

.action-bar {
  margin-bottom: 10px;
  a {
    color: $text-color-rev;
    cursor: pointer;
    text-decoration: none;
  }
}
.repo-type {
  background-color: lighten($color-blue-1, 10%);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  margin-top: 10px;
}
.postPage {
  text-align: center;
  .pagination li a {
    border: none;
    color: $color-blue-2;
    &:hover {
      background-color: transparent;
      color: darken($color-blue-2,5%);
    }
    &.disabled {
      color: grey;
      cursor: default;
    }
    &.disabled:hover {
      background-color: transparent;
      color: grey;
    }
  }
}

.documentClick {
  background-color: white;
  padding: 10px 0;
  font-size: 16px;
  margin-top: 10px;
  box-shadow: 0 0 3px $border-color;
  cursor: pointer;
  text-align: center;
}

.cannotVote {
  cursor: no-drop;
  background-color: grey !important;
}

.timeline {

  .timelineHead {
    background-color: white;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
  }
  .timelineItem {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .timelineItem + .timelineItem {
    border-top: 1px solid $border-color;
  }
}

.activities {
  background-color: white;
  padding: 13px 10px;
  box-shadow: 0 0 3px $border-color;

  .activity-item {
    color: gray;
    list-style: none;
    padding-top: 13px;
    padding-bottom: 13px;

    + .activity-item {
      border-top: 1px solid $border-color;
    }

    &:first-child {
      padding-top: 0;
    }

    i {
      margin-right: 1em;
    }
  }

  .load-more {
    margin: .75em 0;
    text-align: center;
  }
}

.user-list {
  .user-item {
    display: flex;
    flex-direction: row;

    margin: 2em 0;

    .user-left {
      width: 48px;
    }

    .user-body {
      flex: auto;
      padding-left: 1em;
    }

    .user-right {
      button {
        border: 1px solid black;
        background: white;
      }
    }
  }
}

.experience-wrapper {
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 3px $border-color;
  padding: 20px 30px;
}

.card {
  background: white;
  padding: 16px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.post-item {

  padding: 7px 0;

  + .post-item {
    border-top: 1px solid #eee;
  }

  .post-author {
    margin: 7px 0;

    img {
      width: 24px;
    }

    a {
      font-size: 15px;
      font-weight: 600;
      color: #555!important;

      &:focus, &:hover {
        text-decoration: none;
      }
    }

  }

  .post-content {
    margin: 5px 0;
  }
}

.experience-item, .experience-detail {
  background-color: white;
  padding: 15px 20px;

  .experience-title {
    margin: 0;
    a {
      font-weight: 700;
      color: #1e1e1e;
      word-break: break-all;
    }
  }

  .experience-content {
    .digest {
      cursor: pointer;

      &:hover {
        @extend .text-muted;
      }

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    .content {
      margin: 3px 0;
      line-height: 1.67;
    }
  }

  .experience-author {
    font-size: 15px;
    font-weight: 600;
    margin: 7px 0;

    img {
      width: 24px;
    }

    a {
      color: #555!important;

      &:focus, &:hover {
        text-decoration: none;
      }
    }
  }

  .experience-footer {
    margin-top: 4px;

    display: -webkit-box;
    display: -ms-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .btn-vote {
      background: $color-blue-4;
      color: $color-blue-2;
      margin-right: 10px;

      &.voted {
        background: $color-blue-2;
        color: white;
      }
    }

    small.timeago {
      margin-left: auto;
      order: 2;
    }
  }
}

.experience-item + .experience-item {
  border-top: 1px solid $border-color;
}

.pager {
  padding-bottom: 15px;
  margin-top: 0;
  background-color: white;
}

form.upload-form {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: .2rem;
  top: -68px;
  right: 60px;

  input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}
.collapse {
  a {
    &:hover, &:active, &:focus {
      color: $color-blue-2;
    }
  }
  img {
    background-color: white;
    padding: 10px 10px;
  }
}
.experience-content {
  img {
    max-width: 100%;
  }
}