.forum-start {
  padding: 50px 15px 50px 15px;
  background: darken($color-blue-1, 2%);
  margin-bottom: 50px;
}

.forum-description p {

  padding-top: 1rem;
  width: 40%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;
  margin-bottom: 2rem;
}

.forum-description h1 {
  margin-top: 0;
  padding-top: 1rem;
  font-size: 10em;
}

.list-group-header {
  background-color: #f2f2f2;
  border: 1px solid $list-group-border;
  list-style: none;
  text-align: left;
  padding: 0.6rem 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.list-group-header {
  background-color: #f2f2f2;
  border: 1px solid $list-group-border;
  list-style: none;
  text-align: left;
  padding: 0.6rem 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.list-group-header + .list-group-item {
  border-top: 0;
}

.repo_home {
  @extend %list-biohub;
}

.left-list {
  @extend %list-biohub;
}

.panel-biohub {
  margin-top: 5rem;
}

.repo-wrapper {
  background-color: #FFF;
  border: 1px solid $list-group-border;
  margin-top: 5rem;
}

.repo-info-header {
  padding: 2rem 0;
  margin: 0 4rem 1rem 4rem;
  position: relative;
  border-bottom: 1px solid $border-color;
}

.view-experiments {
  font-size: 1.2rem!important;
  position: absolute;
  right: -2rem;
  top: 3.8rem;
  color: $color-orange;
}
.repo-info-addon {
  a {
    color: $color-blue-2;
    font-size: 1.2rem;
  }
  color: #999;
  font-size: 1.2rem;
}

.repo-info-name {
  font-size: 4rem;
}
.repo-info-content {
  background-color: white;
  padding: 1rem 3rem;
}

// for profile page
.profile-avatar-container {
  height:200px;
  width:200px;
  box-sizing: border-box;
  margin-left:auto;
  margin-right:auto;
}


.profile-avatar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  background: transparent;
}

.profile-avatar img {
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  height:100%;
}

