.biohub-form {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.2rem;

  .form-control {
    @extend %input-biohub;
    &:focus {
      @extend %input-with-box-shadow;
    }
  }

  .form-control, .input-group > .input-group-addon {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: $input-color;
    border-color: transparent;
  }
  .input-group > .input-group-addon {
    border-right: 0;
  }

  .form-error {
    font-size: 0.16rem;
  }
}
.btn-biohub {
  background-color: $color-orange;
  font-size: 0.17rem;
  padding: 0.12rem 0.06rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0.04rem;
  border: 0;
  outline: none;
  &:active {
    outline: none !important;
  }
}

.btn-biohub-forum-welcome-default {
  color: $color-blue-1 !important;
  background-color: white !important;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
  border: none;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  outline: none !important;
  &:active {
    outline: none !important;
  }
  @extend %no-box-shadow;
}

.btn-biohub-forum-welcome-notice {
  color: white !important;
  background-color: $color-blue-2 !important;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
  border: none;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  outline: none !important;
  &:active {
    outline: none !important;
  }
  @extend %no-box-shadow;
}

.btn-biohub-light {
  background-color: darken($color-light, 2%);
  &:hover, &:focus, &:active {
    background-color: darken($color-light, 5%);
    @extend %no-box-shadow;
    color: $text-color-rev;
  }
  margin-bottom: 0.05rem;
}

.btn-biohub-orange {
  color: $color-light !important;
  &:hover, &:focus, &:active {
    background-color: darken($color-orange, 3%);
    color: $color-blue-1;
    @extend %no-box-shadow;
  }
  margin-bottom: 0.05rem;
}

.btn-forum {
  background-color: $color-blue-2;
  color: $text-color;
  margin-left: 0;
  &:active {
    @extend %no-box-shadow;
  }
  &:hover {
    color: $text-color;
  }
}

%input-biohub {
  @extend %no-box-shadow;
  border-style: solid;
  border-width: 0.01rem;
  &:focus {
    border-color: $color-blue-2;
  }
  font-size: 0.16rem;
  margin-left: -2px;
  @include transition(border-color);
}
