%input-with-box-shadow {
  -webkit-box-shadow: 0 0 3px $color-blue-2;
  -moz-box-shadow: 0 0 3px $color-blue-2;
  box-shadow: 0 0 3px $color-blue-2;
}

%no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

%no-border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

@mixin transition($attribute) {
  -webkit-transition: $attribute ease-in-out 0.25s;
  -moz-transition: $attribute ease-in-out 0.25s;
  -ms-transition: $attribute ease-in-out 0.25s;
  -o-transition: $attribute ease-in-out 0.25s;
  transition: $attribute ease-in-out 0.25s;
}
