%input-biohub {
  //@extend %no-box-shadow;
  border-color: transparent;
  border-width: 1px;
  &:focus {
    border-color: $color-blue-2;
  }
}

%no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

@mixin transition($attribute) {
  -webkit-transition: $attribute ease-in-out 0.25s;
  -moz-transition: $attribute ease-in-out 0.25s;
  -ms-transition: $attribute ease-in-out 0.25s;
  -o-transition: $attribute ease-in-out 0.25s;
  transition: $attribute ease-in-out 0.25s;
}

%list-biohub {
  .list-group-item {
    text-align: left;
    padding: 0.8rem 1rem;
  }
  .list-group-item a {
    color: darken($color-blue-2,0%);
  }
}
