.navbar-biohub {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background-color: darken($color-blue-1,2%);
  .nav a {
    border-bottom: 2px solid transparent;
    @include transition(border-color);
    color: $color-light;
    &:hover {
      border-bottom: 2px solid $color-light;
      background-color: darken($color-blue-1,2%);
    }
    &:focus {
      color: $color-light;
      background-color: darken($color-blue-1,2%);
    }
  }
  .navbar-header {
    .navbar-brand {
      color: $color-light !important;
    }
  }
  .navbar-form input {
    @extend %input-biohub;
    @include transition(border-color);
    border-radius: 20px;
    background-color: lighten($color-blue-1, 5%);
    color: darken(white, 11%);
    &::placeholder {
      color: darken(white, 20%);
    }
  }
  .navbar-form .btn-biohub-navbar {
    background-color: $color-orange;
    color: $text-color;
    &:hover, &:focus {
      background-color: darken($color-orange, 3%);
      color: $text-color;
    }
  }
}

.nav-repo {
  margin-top: 2rem;
  li a {
    @include transition(border-color);
    border-bottom: 1px solid transparent;
    color: $color-blue-2;
    border-left: none;
    border-right: none;
    &:hover {
      background-color: whitesmoke!important;
      border-color: whitesmoke!important;
      border-bottom: 1px solid $color-orange!important;
    }
  }
  .active {
    a {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid white!important;
      &:hover {
        background-color: white!important;
        border-color: $border-color!important;
        border-bottom: 1px solid white!important;
      }
    }
  }
}