.navbar-biohub {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background-color: $navbar-color !important;
  .nav a, .nav li {
    color: $color-light;
    border-bottom: 2px solid transparent;
    @include transition(border-color);
    &:hover {
      border-bottom: 2px solid $color-light;
      background-color: $navbar-color !important;
    }
    &:focus, &:visited, &:active {
      background-color: $navbar-color !important;
    }
  }
  .navbar-header {
    .navbar-brand {
      color: $color-light !important;
    }
  }
  .navbar-form input {
    @extend %input-biohub;
    border-radius: 20px;
    border-color: transparent;
    background-color: lighten($color-blue-1, 5%);
    color: darken(white, 11%);
    &::placeholder {
      color: darken(white, 20%);
    }
  }
  .navbar-form .btn-biohub-navbar {
    background-color: $color-orange;
    color: $text-color;
    &:hover, &:focus {
      background-color: darken($color-orange, 3%);
      color: $text-color;
    }
  }
  .navbar-right {
    margin-right:20px;
  }
  .navbar-biohub-toggle {
    a {
      padding-top: 13px;
      padding-bottom: 7px;
    }
    .navbar-avatar {
      margin: 0px;
      text-decoration: none !important;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      img {
        height: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
    }

    .dropdown-menu, .open {
      padding: 0px;
      a, a:focus, a:visited, a:hover, a:active {
        color: inherit;
        background-color: $navbar-color !important;
      }
      li {
        text-decoration: none !important;
        border: 0px;
      }
    }
  }
}

.nav-plugin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  li {
    width: 100%;
  }
  li a {
    @include transition(border-color);
    border-bottom: 1px solid transparent;
    color: $color-light;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    &:hover {
      background-color: whitesmoke !important;
      border-color: whitesmoke !important;
      border-bottom: 1px solid $color-orange !important;
    }
  }
  .active {
    a {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid white !important;
      &:hover {
        background-color: white !important;
        border-color: $border-color !important;
        border-bottom: 1px solid white !important;
      }
    }
  }
}
