.dropdown-notice {
  right: -150px !important;
  width: 350px;
  overflow-y: hidden;

  .notice-container {
    border-radius: 5px;
    .notice-head, .notice-footer {
      background-color: #fff;
      border-bottom: 1px solid $border-color;
      font-size: 16px;
      color: $text-color-rev;
      padding: 5px 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      > a {
        background: none !important;
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        cursor: pointer;
        text-decoration: none !important;
        color: $color-blue-2 !important;
      }
    }

    .notice-list {
      height: 400px;
      overflow-y: auto;

      .indicator {
        text-align: center;
        color: $text-color-rev;
        padding: 10px 0;

        &.load-more {
          background: darken(#fff, 2%);
          cursor: pointer;

          &:focus, &:hover {
            background: darken(#fff, 1%);
          }
        }
      }

      .notice-item {
        padding: 10px 10px;
        color: $text-color-rev;
        border-bottom: 1px solid $border-color;
        background-color: darken(white, 5%);
        cursor: default;
        span.created {
          float: right;
          display: blo
        }

        &.notice-unread {
          background: white!important;
        }

        a {
          display: inline !important;
          padding: 0 !important;
          border-top: none !important;
          word-break: break-all;
          color: $color-blue-2 !important;
          background: transparent !important;
          border-bottom: none;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.notice-view {
  background-color: white;
  margin-top: 40px;
  border: none;
  box-shadow: 0 0 3px $border-color;
  .notice-list {

    .notice-item {
      padding: 10px 10px;
      color: $text-color-rev;
      text-align: left;
    }
    .notice-item + .notice-item {
      border-top: 1px solid $border-color;
    }
  }
}
