.dropdown-notice {
  right: -150px !important;
  width: 350px;
  overflow-y: hidden;

  .notice-container {

    .notice-head {
      background-color: #eee;
      border-bottom: 1px solid $border-color;
      font-size: 16px;
      color: $text-color-rev;
      padding: 5px 10px;
      > a {
        background: none !important;
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        cursor: pointer;
        text-decoration: none !important;
        color: $color-blue-2 !important;
      }
    }

    .notice-list {
      height: 400px;
      overflow-y: auto;

      .indicator {
        text-align: center;
        color: $text-color-rev;
        padding: 10px 0;

        &.load-more {
          background: darken(#fff, 2%);
          cursor: pointer;

          &:focus, &:hover {
            background: darken(#fff, 1%);
          }
        }
      }

      .notice-item {
        padding: 10px 10px;
        color: $text-color-rev;
        border-bottom: 1px solid $border-color;

        &.notice-unread {
          background: $color-blue-4!important;

          &:focus, &:hover {
            background-color: lighten($color-blue-4, 3%) !important;
          }
        }

        a {
          display: inline !important;
          padding: 0 !important;
          border-top: none !important;
          word-break: break-all;
          color: $color-blue-2 !important;
          background: transparent !important;
        }
        &:focus, &:hover {
          background-color: white !important;
        }
      }
    }
  }
}



