.profile {
  margin-top: 5%;
}

.profile-parting-line {
  width: 95%;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ddd;
}

.profile-left {
  .profile-avatar-container {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

    .profile-avatar {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 100%;
      background: transparent;

      img {
        -webkit-border-radius: 6px !important;
        -moz-border-radius: 6px !important;
        border-radius: 6px !important;
        height: 100%;
      }
    }
  }

  .user-info {
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;

    #user-name {
      font-size: 30px !important;
    }

    #user-mail {
      color: gray;
      font-size: 14px !important;
    }

    #user-stars {
      margin-top: 5px;
      width: 100%;
      height: 30px;
      overflow: hidden;
      font-size: 22px;
      font-weight: 900;
      background-color: white;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #ddd;

      #user-stars-num {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      i {
        margin-top: 5px;
        margin-right: 10px;
        display: inline;
        float: right;
        font-size: 17px;
        color: darkorange;
      }

      div span p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        margin: 0;
      }
    }

    #personal-info {
      padding-top: 10px;

      .float-icon {
        font-size: 15px;
        width: 18px;
        height: 15px;
        float: left;
        margin-top: 3px;
      }

      div {
        padding-bottom: 5px;
      }
    }

    #edit-button {
      .follow-button {
        margin-top: 10px;
        width: 100%;
        font-weight: 900;
      }
    }

  }

}

.profile-biography-frame {
  background: white;
  height: 100%;
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  margin-top: 5%;

  .profile-biography {
    line-height: 1.5em !important;
    text-align: left;
    min-height: 7.0em;
    word-wrap: break-word;
    -ms-word-wrap: break-word;

    p {
      margin: 0px;
    }

    .arrow-l-int {
      width: 0px;
      height: 0px;
      border-width: 15px;
      border-style: solid;
      border-color: transparent #ddd transparent transparent;
      position: absolute;
      top: 50px;
      left: -15px;
    }

    .arrow-l-out {
      width: 0px;
      height: 0px;
      border-width: 16px;
      border-style: solid;
      border-color: transparent white transparent transparent;
      position: absolute;
      top: 49px;
      left: -14px;
    }

  }
}

.profile-nav {
  margin-top: 5%;
}

.white-box {
  background-color: white;
  border: 1px solid #ddd;
  border-top: 0px;
}

.oneline-overflow {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  margin: 0 auto;
}

.profile-biography-folded {
  height: 7.0em !important;
  display: -webkit-box;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

