.profile-container {
  margin-top: 40px;

  img {
    max-width: 100%;
  }

  .username {
    padding: .5em 0;
    font-size: 2em;
    text-align: left;
  }

  .info {
    text-align: left!important;
  }

  .profile-left {
    .btn-follow {
      @extend .btn-forum;
      font-weight: 500!important;
      width: 100%;
    }
  }
}

.profile-biography-frame {
  background: white;
  height: 100%;
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  position: relative;

  .profile-biography {
    line-height: 0.15rem !important;
    text-align: left;
    min-height: 0.7rem;
    word-wrap: break-word;
    -ms-word-wrap: break-word;

    p {
      margin: 0px;
    }

    .arrow-l-int {
      width: 0;
      height: 0;
      border-width: 15px;
      border-style: solid;
      border-color: transparent #ddd transparent transparent;
      position: absolute;
      top: 15px;
      left: -30px;
    }

    .arrow-l-out {
      width: 0px;
      height: 0px;
      border-width: 16px;
      border-style: solid;
      border-color: transparent white transparent transparent;
      position: absolute;
      top: 14px;
      left: -29px;
    }

  }
}

.profile-biography-folded {
  height: 0.7rem !important;
  display: -webkit-box;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin fix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both
  }
}

.p-nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;

  @include fix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 15px 8px 15px 8px;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

  }

  > li > a > img {
    max-width: none;
  }
}

.p-nav-tabs {
  > li {
    float: left;
    margin-bottom: -1px;

    > a {
      transition: .3s color;
      margin-right: 2px;
      line-height: 2em;
      &:hover {
        color: #2ab69d;
      }
    }

    & > a {
      color: #333;
      font-size: 20px;
      font-family: Helvetica;
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        -webkit-animation: none;
        color: #2ab69d;
        cursor: default;
      }
    }
  }
}
