.search-input {
  @extend %input-biohub;
  width: 70%;
  background-color: darken($search-header-color,5%);
  border-color: transparent;
  color: $text-color;
  margin: 0.3rem 0 0.3rem 0;
  font-size: 0.2rem;
  padding: 0.07rem 0.1rem;
  &:focus, &:active {
    outline: none;
  }
  vertical-align: middle;
}

.search-head {
  background-color: $search-header-color;
}

.btn-search {
  height: 0.44rem;
  padding: 0 0.1rem;
  vertical-align: middle;
  background-color: $color-blue-2;
  border-color: transparent;
  color: $text-color;
  margin-left: 0;
}
.search-result {
  text-align: left;
  padding-top: 0.2rem;
  & + & {
    border-top: 1px solid $border-color;
  }
  &:first-child {
    margin-top: 0;
  }
}


.result-header {
  font-size: 0.24rem;
  span, a {
    vertical-align: middle;
  }
  a {
    color: $color-blue-2;
    padding-right: 0.1rem;
  }
}

.label-container {
  padding-bottom: 0.3rem;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  .checkbox-inline {
    float: left;
    color: $text-color;
  }
}

.result-label {
  background-color: #ccc;
  font-size: 0.12rem;
  padding: 0.03rem 0.1rem;
  border-radius: 0.05rem;
}

.result-label-person {
  background-color: $color-blue-3;
  color: $text-color-rev;
}
.result-label-parts {
  background-color: $color-orange;
  color: $text-color;
}

.result-label-device {
  background-color: $color-light;
  color: $text-color-rev;
}

.result-content {
  margin-top: 0.1rem;
}