.settings-title {
  margin-bottom: 20px;
  h3 {
    text-align: left !important;
    margin: 10px 0;
    padding: 10px 0;
    display: inline-block;
    font-weight: 400;
  }
  border-bottom: 1px solid $border-color;
}

.settings-right {
  margin-top: 20px;
  height: 400px;
}
.settings-button {
  margin-top: 15px;
}

.settings-left {
  text-align: center;
  margin-top: 20px;
  height: 440px;
  .settings-avatar-container {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    img {
      height: 100%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  .settings-upload-image-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.settings-text-info {
  .settings-option {
    h4 {
      display: inline-block;
      margin-bottom:0;
      padding-bottom: 0;
      font-size: 16px;
      font-weight: 500;
      margin-top: 0;
    }
    input {
      display: inline-block;
    }
  }
  .settings-option + .settings-option {
      margin-top: 15px;
    }

  input {
    @extend %input-biohub;
    height: 0.4rem;
  }

  textarea {
    resize: none;
    border: 1px solid $border-color;
    &:focus {
      outline: none;
      border-color: $color-blue-2;
      @include transition(border-color);
    }
  }
}

.settings-biography {
  h3 {
    margin: 0;
    font-size: 22px;
  }
  textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    line-height: 1.3em;
    height: 6.4em;
  }
}

.settings-buttons {
  margin-top: 30px;
  text-align: center;
}

.settings-plugins {
  margin-top: 20px;
  text-align: left;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  .settings-plugins-add {
    float: left;
    font-size: 24px;
    width: 40px;
    height: 40px;
    div {
      width: 30px;
      height: 30px;
      margin: 5px;
      a {
        color: $text-color-rev !important;
        text-decoration: none;
      }
    }
  }

  .settings-plugins-plugin {
    float: left;
    width: 40px;
    height: 40px;
    img {
      margin: 5px;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }
  }
}
