.path-base {
  stroke: lighten($color-blue-1, 5%);
  fill: none;
}
.path-hover {
  fill: #FFDEAA !important;
}
.path-empty {
  @include transition(fill);
}
.featureListItem {
  cursor: pointer;
  margin: 0;
}
.featureList {
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
  height: 180px;
  flex-flow: column wrap;
}