@mixin input-biohub {
  @include no-box-shadow;
  border-color: transparent;
  border-width: 2px;
  &:focus {
    border-width: 2px;
    border-color: $color-orange;
  }
}

@mixin no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin input-transition {
  -webkit-transition: border-color ease-in-out 0.25s;
  -moz-transition: border-color ease-in-out 0.25s;
  -ms-transition: border-color ease-in-out 0.25s;
  -o-transition: border-color ease-in-out 0.25s;
  transition: border-color ease-in-out 0.25s;
}
