@mixin input-biohub {
  @include no-box-shadow;
  border-color: transparent;
  border-width: 2px;
  &:focus {
    border-width: 2px;
    border-color: $color-orange;
  }
}

@mixin no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

@mixin transition($attribute) {
  -webkit-transition: $attribute ease-in-out 0.25s;
  -moz-transition: $attribute ease-in-out 0.25s;
  -ms-transition: $attribute ease-in-out 0.25s;
  -o-transition: $attribute ease-in-out 0.25s;
  transition: $attribute ease-in-out 0.25s;
}
