@import "bootstrap/bootstrap";
@import "variables";
@import "mixins";

@import "navbar";
@import "forum";
@import "form";
@import "plugins";
@import "profile";
@import "settings";
@import "search";
@import "notice";

html{
  overflow-x: hidden;
  font-size: 625%;
}

.container {
  width: 80%;
}

body {
  background-color: #fafafa;
  min-width: 1020px;
}

.less-padding {
  padding: 0.1rem 0.05rem;
}

.full-width {
  width: 100%;
}

.divider {
  border-top: 1px solid $border-color;
  margin: 0.2rem 0.4rem;
}

.biohub-a {
  color: $color-blue-2;
  &:hover {
    color: $color-blue-2;
  }
  cursor: pointer;
}