@import "bootstrap/bootstrap";
@import "colors";


body {
  background-color: whitesmoke;
  min-width: 1020px;
}
.biohub-form {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;

  .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size:16px;
    height: 42px;
    margin-left: -2px;
    border-color: transparent;
    &:focus {
      border-width: 1px;
      border-color: lighten($color-orange, 20%);
      -webkit-box-shadow: 0 0 5px lighten($color-orange, 20%);
      -moz-box-shadow: 0 0 5px lighten($color-orange, 20%);
      box-shadow: 0 0 5px lighten($color-orange, 20%);

    }
    border-left-color: transparent;
  }

  .form-control, .input-group > .input-group-addon {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
    border-color: transparent;
  }
  .input-group > .input-group-addon {
    border-right: 0px;
  }

  .form-error {
    font-size: 16px;
  }
}

;

.btn-biohub {
  background-color: $color-orange;
  font-size: 17px;
  width: 100%;
  padding: 12px 0px 12px 0px;
  color: $text-color;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  &:hover, &:focus, &:active {
    background-color: darken($color-orange, 3%);
    color: $text-color;
  }
}

.btn-biohub-hello {
  color: $text-color-rev;
  background-color: darken($color-light, 2%);
  &:hover, &:focus{
      background-color: darken($color-light, 5%);
      color: $text-color-rev
  }
}

// no responsive
