@import "bootstrap/bootstrap";
@import "variables";
@import "mixins";

@import "navbar";
@import "forum";
@import "form";
@import "plugins";
@import "profile";
@import "settings";
@import "search";

html{
  overflow-x: hidden;
}

body {
  background-color: #f9f9f9;
  min-width: 1020px;
}

.less-padding {
  padding: 1rem 0.5rem;
}

.full-width {
  width: 100%;
}
