#available-label {
  margin-top:10px;
  margin-bottom:10px;
}

.result-header {
  position: relative;
  bottom: 8px;
  color: #23313f;
  font-size: 33px;
}

.grade {
  color: #d1930d;
  font-size: 25px;
  float: right;
}

.result-content {
  font-size: 14px;
  line-height:1.3em;
  height: 5.2em !important;
  overflow: hidden;
  width: 90%;
  display: -webkit-box;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
 -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.search-result-tab {
  width: 100%;
  position: relative;
  padding: 15px 15px 15px 15px;
}

.availabel-label {
  position: relative;
  margin-top:20px;
}

.label-list {
  position: relative;
  padding: 3px 10px 3px 10px;
  color: #1695A3;
  font-size: 14px;
  border: solid;
  border-width: 1px;
  border-color: #cecece;
}

.repo-name-head {
  font-weight: bold;
  color: #1c497a;
  text-decoration: none;
}

.img-collect {
  position: absolute;
  left: 90%;
  height: 27px;
  width: 32px;
  opacity: 0.3;
}

.label-list-select {
  position: relative;
  border: solid;
  border-color: #cecece;
  color: #EB7F00;
  border-width: 0.5px;
  font-size: 14px;
  padding: 3px 10px 3px 10px;
  font-family: 'Microsoft YaHei', sans-serif;
}
